:root {
  --red: #ff6347;
  --red-hover: #ff2904;
  --green: #1f7736;
  --green-hover: #0ed642;
  --html: #e34c26;
  --js: #f1e05a;
  --css: #563d7c;
  --sql: #ccc;
  --node: #43853d;
  --focus: gainsboro;
}
html {
  scroll-behavior: smooth;
}
/*
set border-box on everything
*/
* {
  box-sizing: border-box;
}


body {
  color: white; /* img background with overlay, most stuff needs to be white */
  font-size: 16px/1em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background:
    radial-gradient(transparent, rgba(0, 0, 0, 0.75)),
    url('../img/fac15-bg.jpg'),
    black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; /* makes it look good on /create-profile */
  background-attachment: fixed;
}

h1 {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 0 0 1rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 1rem;
}

p {
  font-size : 2rem;
}

a {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  height: 0;
  display: none;
}






/* - - - - - - - - - - - - - - - */
/* login/logout area */
.auth-section {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
}
.auth-section .button-input.login {
  margin-left: 1.25rem;
}







/* - - - - - - - - - - - - - - - */
/* nav menu container */
.nav-menu {
  top: 0; /* height of banner / top bar */
  left: 0;
  bottom: 0;
  max-width: 20rem;/* stretch to fit text */
  z-index: 1;
}




/* app drawer ul */
.app-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding : 6.5rem 2rem 2rem;
  list-style: none;
  font-size: 2rem;
  line-height: 4rem;
  background-color: var(--red);
  transform: translateX(-100%);
  transition: transform ease-in-out 0.5s;
}
.app-drawer.open {
  transform: translateX(0);
  height: 100%;
}
.app-drawer a {
  color: white;
}
.app-drawer a:hover {
  border-bottom: 2px solid;
}







/* burger button */
.burger-menu {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: block;
  width: 3.5rem;
  height: 3.2rem;
  padding: 0.3rem 0.2rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  cursor: pointer;
  z-index: 2;
}
.burger-menu > div {
  width: 100%;
  height: 0.5rem;
  background-color: white;
  border-radius: 0.6rem;
  margin-top: 0.5rem;
  transform-origin: 0 0;
  transition: transform ease-in-out 0.5s;
}
.burger-menu > div:nth-child(1) {
  margin-top: 0;
}
/* open */
.open.burger-menu > div:nth-child(1) {
  transform: skew(0deg, 34deg);
}
.open.burger-menu > div:nth-child(2) {
  visibility: hidden;
}
.open.burger-menu > div:nth-child(3) {
  transform: skew(0deg, -34deg);
}










/* - - - - - - - - - - - - - - - */
/* main, and page specific styles */
/* general spacing */
.main-section {
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto 0;
  padding: 0 1rem;
}

.page-content .main-section:first-child {
  margin-top: 8rem;
}

/* home page */
.page-content.home .main-section:first-child {
  margin-top: 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-content.home .main-section .button-input {
  margin-top: 3rem;
}



/* - - - - - - - - - - - - - - - */
/* cohort list */
.cohort-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.cohort-member {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.25rem;
}

@media only screen and (min-width: 600px) {
  .cohort-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cohort-member {
    flex-basis: 49%;
  }
  .cohort-member:nth-child(odd) {
    margin-right: 1%;
  }
  .cohort-member:nth-child(even) {
    margin-left: 1%;
  }
}




/* bar chart */
.skills {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid black;
}
.skills > div > div {
  border: 1px solid black;
  height: 1rem;
}
.skills > div > span {
  font-size: 1rem;
}
.one {width: 20%;}
.two {width: 40%;}
.three {width: 60%;}
.four {width: 80%;}
.five {width: 100%;}

.html > div {
  background-color: var(--html);
}
.js > div {
  background-color: var(--js);
}
.css > div {
  background-color: var(--css);
}
.sql > div {
  background-color: var(--sql);
}
.node > div {
  background-color: var(--node);
}








/* - - - - - - - - - - - - - - - */
/* forms */
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding : 1rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  background-color: white;
  color:black;
  font-family: 'Josefin Sans', sans-serif;
}

.form label,
.form p {
  font-size: 1.25rem;
  margin-bottom : 0.25rem;
}







/* text input */
.text-input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  display: block;
  margin-bottom: 0.75rem;
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--red);
}
.text-input:focus,
.text-input:active,
.text-input:disabled {
  border: 2px solid var(--red-hover);
  background-color: var(--focus);
}
/* - form error - input field style */
.error-red,
.error-red:focus {
  background-color : var(--red);
  border: 2px solid var(--red-hover);
  color: white;
}



/* - - - - - - - - - - - - - - - */
/* radio inputs */
/* --- container */
.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}
/* --- individual container */
.form .radio-label {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* --- radio input */
.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* --- custom button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border-radius: 50%;
}
/* --- hover */
.radio-label:hover .radio-input ~ .checkmark {
  background-color: var(--focus);
}
/* --- checked */
.html + .radio-group .radio-label .radio-input:checked ~ .checkmark {
  background-color: var(--html);
}
.css + .radio-group .radio-label .radio-input:checked ~ .checkmark {
  background-color: var(--css);
}
.js + .radio-group .radio-label .radio-input:checked ~ .checkmark {
  background-color: var(--js);
}
.sql + .radio-group .radio-label .radio-input:checked ~ .checkmark {
  background-color: var(--sql);
}
.node + .radio-group .radio-label .radio-input:checked ~ .checkmark {
  background-color: var(--node);
}
/* --- dot indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 0.75rem;
  left: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}
/* --- dot:checked */
.radio-label .radio-input:checked ~ .checkmark:after {
  display: block;
}




















/* - - - - - - - - - - - - - - - */
/* button & input type=submit */
/* - reset */
.button-input {
  padding: 0;
  border: 0;
  background: transparent;
  display: flex;
}
.button-submit,
.button-input a {
  align-self: flex-end;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
  color: white;
  background-color: var(--red);
}
.button-submit:hover,
.button-submit:focus,
.button-input a:hover,
.button-input a:focus {
  background-color: var(--red-hover);
}


/* login (green button) */
.button-input.login a {
  background-color: var(--green);;
}
.button-input.login a:hover,
.button-input.login a:focus {
  background-color: var(--green-hover);;
}
.button-input a,
.button-input a:hover,
.button-input a:focus {
  color: white;
}














/* - - - - - - - - - - - - - - - */
/* form customisation */

/* --- sectioning */
.name-search,
.name-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.language-search,
.language-input {
  margin-top: 1rem;
  border-top: 2px solid black;
  width: 100%;
}
.language-input {
  display: flex;
  flex-direction: column;
}
.form-rows {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.language-input .form-rows {
  margin-bottom: 1rem;
}


/* --- button colour */
.button-submit.html,
.label-bg.html {background-color: var(--html);}
.button-submit.js,
.label-bg.js { background-color: var(--js); color: black; }
.button-submit.css,
.label-bg.css { background-color: var(--css); color: white; }
.button-submit.sql,
.label-bg.sql  { background-color: var(--sql); }
.button-submit.node,
.label-bg.node { background-color: var(--node); }
/* darken on focus */
.language-search .button-submit:focus {
  filter: saturate(125%) hue-rotate(-10deg) brightness(0.9);
}



/* --- element customisation */

/* --- create profile */
.language-input h3 {
  margin-top: 1rem;
}

.form .label-bg {
  padding: 0.4rem 0.4rem 0.2rem;
  margin: 0;
}

/* --- search profiles */
.language-search label {
  display: block;
  margin: 1rem 0 -1rem;
}

.language-search .button-submit {
  margin-right: 1rem;
  margin-top: 1rem;
}
.language-search :nth-child(5){
  margin-right: 0;
}

