<main class="page-content home">
    <section class="main-section">
        <h1>Meet the FACers</h1>
        <p>View the awesome skills of your cohort!</p>
        <button class="button-input"><a href="/create-profile">Meet the FACers</a></button>
    </section>
</main>