<main class="page-content home">
    <section class="main-section">
      <h1>Express Yourself</h1>
        <p>View the awesome skills of your cohort!</p>
        <button class="button-input"><a href="/create-profile">Enter</a></button>
    </section>
</main>