<main class="page-content search-profiles">

    <section class="main-section">
        <h1>Search Profiles of your Cohort</h1>
        <ul>
            {{#each users}}
            <li>
                Name: {{name}} <br>
                BIO: {{bio}} <br>
                Skills: <br> 
                HTML level: {{html}} 
            </li>
            {{/each}}
        </ul>
    </section>
    
    <section class="main-section">
    
    <form class="form" method="/post" action="">
    
    <label for="search">Search name</label>
    <input type="text" name="search" value="">

    <label for="submit">Submit</label>
    <button type="button" id="submit" value""></button>
    
      <div class="language-search">
            <button type="button" name="button" value"html">HTML</button>
            <button type="button" name="button" value"css">CSS</button>
            <button type="button" name="button" value"js">JS</button>
              <button type="button" name="button" value"sql">SQL</button>
              <button type="button" name="button" value"node">NODE</button>
        </div>
    </form>


</section>



  
</main>