<main class="page-content search-profiles">
    <section class="main-section">
        <h1>Search Profiles of your Cohort</h1>
    
        <ul>
    
        {{#each users}}
        <li>
            Name: {{name}} <br>
            BIO: {{bio}} <br>
            Skills: <br> 
            HTML level: {{html}} 
            CSS level:
            <div class={{barchart css}}>
                
            </div>
        </li>
        <br>
        {{/each}}

    </ul>
    </section>

</main>