<header class="auth-section">
    <section class="main-section">
      <button class="button-input signup"><a href="/create-profile">Signup</a></button>
      <button class="button-input login"><a href="/create-profile">Login</a></button>
    </section>
</header>