<header class="nav-bar">
    <section class="main-section">
      <a href="/"class="logo">
        <img src="img/express-icon.png" alt="Express Yourself"/>
        <span class="title">Express Yourself</span>
      </a>
      <nav class="nav-menu">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/create-profile">Create Profile</a></li>
              <li><a href="/search-profiles">Search Profiles</a></li>
          </ul>
      </nav>
    </section>
</header>