<nav class="nav-menu">
    <a href="#" class="burger-menu" class="key">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <ul class="app-drawer">
        <li><a href="/">Home</a></li>
        <li><a href="/create-profile">Create Profile</a></li>
        <li><a href="/search-profiles">Search Profiles</a></li>
    </ul>
    <!-- menu sound -->
    <audio class="sound-menu" src="sounds/bam.wav"></audio>
</nav>