<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express Yourself</title>
  <meta name="description" content="add and view lightning talks at Founders and Coders">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#bd3c59">
  <link rel="shortcut icon" type="image/x-ico" href="img/favicon.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    {{> header}}

    {{{body}}}

    <script src="./index.js"></script>

</body>

</html>